

body{
margin: 0;
font-family: Fira sans;
}

.h1{
    background-color: white;
    display: flex;
    margin-left: 70px;
    margin-top: 20px;
}

.h2{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: left;
    background-color: white;
    margin-left: 70px;
}


ul{
    display: flex;
    gap: 1rem;
}
li{
    list-style-type: none;
    color: white;
}
nav{
    background-color: #06071b;
}
header{
    background-color: #06071b;
    margin-left: 100px;
    margin-right: 100px;
}
.nike {
    width: 70px;
    height: 50px;
}
.logo{
    display: flex;
    margin-left: 3rem;
}
.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
    height: 5rem;
} 
.color{
    width: 30px;
    height: 25px;
    padding: 0,5rem;
    filter: invert(93%); sepia(8%) saturate(258%) hue-rotate(1deg) brightness(80%) contrast(96%);
    padding: 0.5rem;
}

.left { 

}
.youtube{
}
.ytube{
    width: 30px;
    height: 25px;
}
.right{
}
.content { 
    display: flex;
    justify-content:space-around;
    background-color: #06071b;
    margin-left: 100px;
    margin-right: 100px;
}
.icons{
    display: flex;
    gap: 2rem;
}
.pic{
    height: 400px;
    width: 300px;
}
.border {
    border: solid 2px #c30010;
    border-radius: 50px;
}
.center{
    display: flex;
    justify-content: center;
    margin-bottom: 25rem;
    background-color: #06071b;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 1rem;
}


